<div id="<%= dom_id video %>">
  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>
<p>
    <strong>video</strong>
    <%= video.clip %>
  </p>
  <p>
    <strong>thumpnail:</strong>
    <%= video.thumbnail %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= video.description %>
  </p>

</div>
